.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Century Gothic';
}

.card {
    width: 300px;
    min-width: 300px;
    min-height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(215, 226, 236);
}

.title {
    margin: 5px;
}

.card-body {
    height: 300px;
    max-height: 300px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.img-card {
    width: 80%;
    height: 80%;
    margin-top: 5px;
}

.card-footer {
    text-align: end;
    margin: 5px;
}

.info {
    margin-right: 5px;
    background-color: transparent;
    border: none;
}

.info:hover {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: medium;
}